* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

div,
header,
footer,
section {
    display: flex;
    justify-content: space-around;
}

.containerHeader {
    width: 100%;
    height: 10.6rem;
    background: linear-gradient(180deg, #ff5e00e0, #ffc29a, #ffe6d1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.3rem;
}

.imgContainer {
    position: absolute;
    top: 5.3rem;
}

.imgContainer>img {
    width: 100%;
    max-width: 155px;
    border-radius: 50%;
    box-shadow: 1px 1px 6px #ff9955, -1px -1px 6px #ff9955;
}

.square {
    max-width: 1300px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 32.65rem);
    min-height: 400px;
    padding: 0px 20px;
}

.box {
    width: 100%;
    max-width: 350px;
    min-width: 180px;
    height: 250px;
    background-color: rgb(231, 231, 231);
    padding: 40px 25px;
    color: rgb(121, 121, 121);
    border-radius: 5%;
    display: block;
}

p {
    text-align: justify;
    font-size: 0.8em;
}

::-webkit-scrollbar {
    width: 0px;
}

.material-icons {
    color: rgb(121, 121, 121);
    cursor: default;
    margin-bottom: 20px;
}

.ContainerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.footer {
    height: 16.75rem;
    background-color: rgb(207, 207, 207);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

input,
textarea {
    width: 100%;
    max-width: 350px;
    height: 35px;
    margin: 7px;
    border: none;
    border-radius: 8px;
    font-size: 13px;
}

input:focus,
textarea:focus {
    outline: 0;
}

textarea {
    height: 80px;
    resize: none;
    padding: 4px 2px;
}

#button {
    width: 100%;
    max-width: 230px;
    background-color: #ff8d4a9d;
    cursor: pointer;
    font: bold 15px 'Noto Sans', sans-serif;
    color: white;
    box-shadow: 1px 1px 1px #ff742ea4
}

#button:active {
    box-shadow: 0 0 0 0 #ff742ea4, inset 1px 1px 1px 1px #ff742ea4;
}

.paragraph {
    display: block;
}

.marginParagraph {
    margin-bottom: 60px;
}

/* @media only screen and (max-width: 780px) {
    .square {
        flex-direction: column;
        height: calc(100vh - 10.6rem);
    }
} */

@media only screen and (max-width: 780px) {
    .square {
        height: calc(100vh - 10.6rem);
        min-height: 1000px;
    }
}

@media only screen and (max-width: 1230px) {
    .square {
        height: calc(100vh - 10.6rem);
    }
}